#container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

#disable-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.gray {
    background-color: gray;
}

.medium-violet-red {
    background-color: mediumvioletred;
}

.midnight-blue {
    background-color: midnightblue;
}